/* кнопки-чекбоксы выравниваем */
.toggle-button {
	top: 8px;
}
.toggle-button label {
	margin-left: 0px !important;
}
.toggle-button span.labelLeft {
	padding-left: 0px !important;
}
.toggle-button span.labelRight {
	width: 49px !important;
}